<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>postgreSQL Lesson</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <h1><%=title %></h1>
    <div class="controls">
        <a href="/">Home</a>
      <a href="/new">Create user</a>
      <a href="/delete">DELETE USERS</a>

      <form method="post" action="/search" class="searchForm">
        <input name=searchTerm placeholder="Search" type="text">
        <button>Search</button>
      </form>
    </div>
    <ul>
      <% usernames.forEach((username) => { %>
      <li>
        <p><%= username.id %></p>
        <p><%= username.username %></p>
      </li>

      <% }) %>
    </ul>
  </body>
</html>
