* {
  box-sizing: border-box;
}

body {
display: flex;
flex-direction: column;
margin: auto;
}


ul {
    display: grid;
}

li {
    display: flex;
    flex-direction: row;
    list-style: none;
    border: 2px solid black;

}

li p {
    padding:.5rem 1rem;
}